.page-title {
  margin-top: $space-large;
  margin-bottom: $space-large;
  color: $title-color
}

.section-title {
  margin-top: $space-large;
}

.card-divider h1 {
  margin: 0 auto;
}

.red {
  color: red;
}
