.page-title {
  margin-top: $space-large;
  margin-bottom: $space-large;
  color: $title-color
}

.section-title {
  margin-top: $space-large;
}

.menu a {
  padding-top: .28125rem;
  padding-left: .3rem;
}

.red {
  color: red;
}
