.weather-icon {
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-01d {
  background-image: url('http://openweathermap.org/img/w/01d.png');
}

.icon-01n {
  background-image: url('http://openweathermap.org/img/w/01n.png');
}

.icon-02d {
  background-image: url('http://openweathermap.org/img/w/02d.png');
}

.icon-02n {
  background-image: url('http://openweathermap.org/img/w/02n.png');
}

.icon-03d {
  background-image: url('http://openweathermap.org/img/w/03d.png');
}

.icon-03n {
  background-image: url('http://openweathermap.org/img/w/03n.png');
}

.icon-04d {
  background-image: url('http://openweathermap.org/img/w/04d.png');
}

.icon-04n {
  background-image: url('http://openweathermap.org/img/w/04n.png');
}

.icon-09d {
  background-image: url('http://openweathermap.org/img/w/09d.png');
}

.icon-09n {
  background-image: url('http://openweathermap.org/img/w/09n.png');
}

.icon-10d {
  background-image: url('http://openweathermap.org/img/w/10d.png');
}

.icon-10n {
  background-image: url('http://openweathermap.org/img/w/10n.png');
}

.icon-11d {
  background-image: url('http://openweathermap.org/img/w/11d.png');
}

.icon-11n {
  background-image: url('http://openweathermap.org/img/w/11n.png');
}

.icon-13d {
  background-image: url('http://openweathermap.org/img/w/13d.png');
}

.icon-13n {
  background-image: url('http://openweathermap.org/img/w/13n.png');
}

.icon-50d {
  background-image: url('http://openweathermap.org/img/w/50d.png');
}

.icon-50n {
  background-image: url('http://openweathermap.org/img/w/50n.png');
}
